textarea {
    height: 1em;
    width: 100%;
    padding: 3px;
    transition: all 0.5s ease;
}

textarea:focus {
    height: 4em;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}