html, body
{
    width: 100%;	
    margin: auto;
}

header
{
    margin: auto;
	width: 80%;
}

main, footer
{	
	display: block;
    margin: auto;
	width: 80%;
}

footer
{
	margin-top: 50px;
}


textarea
{
    height: 1em;
    width: 90%;
    padding: 3px;
    transition: all 0.5s ease;
}

.lineOver
{
	overflow:auto;
	width:400px;
	border-top:1px solid black;
	margin-bottom:0px;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
	width: 80%;
    display: table-cell;
    vertical-align: middle;
	text-align: center;
}

textarea:focus
{
    height: 4em;
	width: 20em;
}

table
{
    border-collapse: collapse;
	width: 100%;
}

table, th, td
{	
	padding: 4px;
    border: 1px solid black;
	margin: 0px;
	white-space: nowrap;
}

button.buttonEdit, button.buttonScrap
{
	display: none;
}

nav
{
	background-color: #333333;
	overflow: auto;
	border-bottom: 1px solid black;
	padding: 10px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

div.left {
    display: inline-block;	
	padding-top: 5px;
	margin-top: 5px;
	margin-right: 5px;
}

div.right {
    display: inline-block;
	padding-top: 5px;
	margin-top: 5px;
}

div.left > p
{
	height: 1.75em;
}

tr:nth-child(even):not(.inv):not(.buttonTd), th
{
	background: #CCC
}

tr:nth-child(odd)
{
	background: #FFF
}

td:last-child
{
	text-align: center;
}

td > input, td > select
{
	margin: 0;
	padding: 0;
	width: 100%;
}

input[type=submit]
{	
	margin-top: 20px;
	border-radius: 5px;	
    background-color: #73AD21;
}

input[type=submit]:hover
{	
	margin-top: 20px;
	border-radius: 5px;	
    background-color: #00ff00
}

button
{
	margin: 0;
}

input
{	
		margin-top: 20px;
      font-family: sans-serif;                
}

input.left
{
	float:left;
}

input.right
{
	float:right;
}
